# Development artifacts
ID
TAGS
.*gdbinit
.gdb_history
*~
#*
.#*

# Configure artifacts
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1

# Build artifacts
.deps
gmk-default.h
loadavg
make
*.o
*.exe
*.dll.a
*.obj
*.lib
*.pdb
*.sbr
#忽略由 Visual Studio 產生的檔案
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.suo
*.bak
*.cache
*.ilk
*.log
*.opensdf
[Dd]ebug*/
[Rr]elease*/
[Ii]ntermediate*/
[Mm]svc/library*/

# Windows build artifacts
WinDebug/
WinRel/
GccDebug/
GccRel/

# Distribution artifacts
.dep_segment
.check-git-HEAD
ChangeLog
Makefile.DOS
NMakefile
README
README.DOS
README.OS2
README.W32
SMakefile
build.sh
build.sh.in
config.ami
config.h-vms
config.h.W32
configh.dos
make-[0-9]*/
make-[0-9]*.tar.*
checkcfg.*.log
